@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
body {
  /* font-family: 'Merriweather', serif; */
  font-family: 'Montserrat', sans-serif;
}

.nav-link{
  color:#fff;
}

.cover {
  object-fit: contain;
  width: 100%;
  height: 180px;
  margin: auto;
}

.cover-cart {
  object-fit: contain;
  width: 100%;
  height: 100px;
  margin: auto;
}

.btn {
  border-radius: 0 !important;
}

.breadcrumb-item {
  font-size: 0.8rem;
  text-decoration: none;
}

.breadcrumb-item a {
  text-decoration: none;
}

.form-label{
  color:#7b7b7b;
  font-size:.9rem;
}

.required::after {
  content: " *";
  color: red;
}

.top-bar {
  box-sizing: border-box;
  width: 100%;
  background-color: #eceaea;
  padding: 12px 0;
  font-size: 13px;
  font-weight: 500;
  border-bottom: 2px solid #2874f0;
}

.top-bar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar-menu a {
  text-decoration: none;
  color: #7b7b7b;
}

.logo-section {
  width: 100%;
  padding: 18px 8px;
  color: #2874f0;
}

.logo-section h3 {
  margin-bottom: 0;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
  background-color: #fff;
  color: #2874f0;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.info-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 8% 0;

}

.info-container .info {
  border: 2px solid rgba(40, 117, 240, 0.507);
  padding: 5%;
  box-shadow: 0 0 10px 5px #d6e6fd;
}

.info-container .info p {
  font-weight: bolder;
  color: #2874f0;
}

.page-title {
  background-color: #e9e7e7;
  padding: 3% 2%;
  border-left: 8px solid #2874f0;
}

.categories {
  margin-bottom: 8%;
}

.sub-categories-products {
  margin-bottom: 8%;
}

.sub-categories-products .products .card-title,
.category-details .products .card-title {
  height: 30px;
  overflow: hidden;
  margin-bottom: 8px;
  font-size: 0.8rem;
}

.category-list a,
.sub-category-list a {
  text-decoration: none;
  padding: 3% 0;
  font-size: 16px;
  color: #7e7d7d;
}

.sidebar-category a.active,
.sidebar-sub-category a.active {
  color: #2874f0;
}


.sidebar-category a.active i {
  color: #7b7b7b !important;
}

.product-description ul li {
  margin-bottom: 12px !important;
}


/* Cart */

.cart-details {
  border: 1px solid rgba(40, 117, 240, 0.379);
  padding: 3%;
}

.cart-details table {
  font-size: 13px;
}

.cart-details table h6 {
  font-size: 13px;
}

.cart-details table h5 {
  font-size: 16px;
}

.cart-details table th,
td {
  vertical-align: middle !important;
}

.cart .payment-details .form-label {
  font-size: 14px;
  color: #7b7b7b;
}

/* end of cart */

.bg-img {
  background: rgb(35,32,182);
background: linear-gradient(315deg, rgba(35,32,182,1) 20%, rgba(10,10,108,1) 50%, rgba(35,32,182,1) 80%);
  color:#fff;
}

/* Rating */

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.8em;
  justify-content: space-around;
  padding: 0 .2em;
  text-align: center;
  width: 5em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
}

.star-rating :checked~label {
  color: #f90;
}

.star-rating label:hover,
.star-rating label:hover~label {
  color: #fc0;
}